body{
	margin: 0;
	background-color: darkgray;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#verticalButtons{
	display: flex;
	flex-direction: column;
}
button{

}

#carCanvas{
	background-color: lightgray;
}

#networkCanvas{
	background-color: rgb(6, 132, 71);
}